<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Trang quản trị</title>
  <link rel="stylesheet" href="/assets/css/login.css" />
</head>
<body>
  <h1>
    <img src="https://cdn-icons-png.flaticon.com/512/753/753345.png" alt="icon" />
    Quản trị viên
  </h1>

  <div class="container">
    <div class="login">
      <h2>Đăng nhập</h2>
      <p>
       "Người dùng chỉ thấy giao diện, nhưng admin là người gánh cả hệ thống vận hành phía sau."  - "Admin không chỉ quản lý dữ liệu, mà còn quản lý niềm tin."
      </p>
     
    </div>
    <div class="register">
      <h2>Đăng Nhập</h2>
      
      <input type="email" id="email" placeholder="Email">
      <input type="password" id="password" placeholder="Mật khẩu">
      <button id="loginBtn">Đăng nhập</button>
      <p id="errorMsg"></p>
    </div>
  </div>
 <script src="/public/config.js"></script>
 <script src="/assets/js/login.js"></script>
</body>
</html>